a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: white;
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0.2em 1.3em 0.7em;
}

html {
  background: #feecec;
  margin: 0 auto;
  max-width: 45em;
}

li {
  padding-left: 0.3em;
  padding-bottom: 0.2em;
}

ol, ul {
  padding-left: 1.5em;
}



.page-properties {
  font-size: smaller;
}
