a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #feecec;
  font-family: sans-serif;
  padding: 0 0.25em;
}

div.page-properties {
  font-size: smaller;
}

pre {
  background: white;
  border: 1px solid;
  overflow-x: auto;
  padding: 0.5em;
}

pre.cmd {
  color: #008;
}

pre.html {
  color: #800
}

pre.syntax {
  border: 2px solid #111;
  font-size: larger;
  margin: 0.25em;
}

span.mandatory-argument{
  color: #7000ff;
  font-weight: bold;
}
